body {
    background-image: url('/src/images/webvisualizer.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.custom-header {
    background-color: rgba(169, 199, 249, 0.80);
    display: block;
    margin-bottom: 0px; /* Ajusta según sea necesario */
}

.styled-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Black";
}




